{% extends '::base.html.twig' %}
 {% block stylesheets %}        
        <link rel="stylesheet" href="{{ asset('bundles/ace/css/dropzone.css') }}" />
{% endblock %}
{% block body -%}

<div id="main-container" class="main-container">
 <div class="main-content">
    <div class="breadcrumbs">
             <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">直播管理</a>
                        </li>
                    <li class="active">
                            
                             新增动态 
                        </li></ul>

        <!-- breadcrumbs goes here -->
    </div>
    <div class="page-content">
<div class="page-header">
	<h1>
		表单
		<small>
			<i class="ace-icon fa fa-angle-double-right"></i>
 		</small>
	</h1>
</div>
        <!-- setting box goes here if needed -->
        <div class="row">
            <div class="col-xs-6">
{% form_theme form 'AppBundle:Movie:fields.html.twig' %}
{{ form_start(form, {'attr':{'class': 'form-horizontal'}}) }}
{{ form_widget(form) }}
{{ form_end(form) }}          
</div>
<!-- setting box goes here if needed -->
 	            <div class="col-xs-6">
	            	<!-- PAGE CONTENT BEGINS -->
								<div>
									<form action="{{path('image_upload')}}" class="dropzone ace-thumbnails clearfix" id="dropzone">
										<div class="fallback">
											<input name="file" type="file" multiple="" />
										</div>
									</form>
								</div>
					<!-- PAGE CONTENT ENDS -->
	            </div>
        </div>
         
     </div>
</div>
</div>
        <ul class="record_actions">
    <li>
        <a href="{{ path('topic_subject',{'topic_id':form.vars.value.topicId}) }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
{% block javascripts %}

		<script src="{{ asset('bundles/ace/js/dropzone.js') }}"></script>

		<!-- inline scripts related to this page -->
		<script type="text/javascript">
			jQuery(function($){
			
			try {
			  Dropzone.autoDiscover = false;
			  var myDropzone = new Dropzone("#dropzone" , {
			    paramName: "file", // The name that will be used to transfer the file
			    maxFilesize: 0.5, // MB
			
				addRemoveLinks : true,
				dictDefaultMessage :'把要上传的内容拖拽到这里',
				dictResponseError: 'Error while uploading file!',
				
				//change the previewTemplate to use Bootstrap progress bars
				/*previewTemplate: "<div class=\"dz-preview dz-file-preview\">\n  <div class=\"dz-details\">\n    <div class=\"dz-filename\"><span data-dz-name></span></div>\n    <div class=\"dz-size\" data-dz-size></div>\n    <img data-dz-thumbnail />\n  </div>\n  <div class=\"progress progress-small progress-striped active\"><div class=\"progress-bar progress-bar-success\" data-dz-uploadprogress></div></div>\n  <div class=\"dz-success-mark\"><span></span></div>\n  <div class=\"dz-error-mark\"><span></span></div>\n  <div class=\"dz-error-message\"><span data-dz-errormessage></span></div>\n</div>",
				*/
			    init: function() {
		            this.on("success", function(file,result) {
		            	file.id=result;
		            	var ids=$("#appbundle_subject_picids").val();
		            	if(ids==''){
		            		$("#appbundle_subject_picids").val(file.id);
		            	}else{
		            		$("#appbundle_subject_picids").val(ids+","+file.id);
		            	}
		            	//console.log(file);
		                //console.log("File " + file.name + "uploaded");
		            });
		            this.on("removedfile", function(file) {
		            	//console.log(file);
		            	$.post('{{ path("image_remove")}}?id='+file.id,{},function(){})
		                console.log("File " + file.name + "removed");
		            });

		        }
			  });
		 
			
			} catch(e) {console.log(e);
			  alert('去更新个支持h5的浏览器吧。');
			}
			
			});
		</script> 
		{% endblock %}
