{% extends '::base.html.twig' %}

{% block body -%}

<style>

.glyphicon{font-size:20px;}
</style>
   <div id="main-container" class="main-container">
 <div class="main-content">
    <div class="breadcrumbs">
             <ul class="breadcrumb">
                        <li>
                            <i class="ace-icon fa fa-home home-icon"></i>
                            <a href="#">书库</a>
                        </li>
                    <li class="active">
                            
                             Dashboard 
                        </li></ul>

        <!-- breadcrumbs goes here -->
    </div>
    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <form class="form-inline" action="{{ path('book')}}" method="get" >
                    <label>分类</label>
                    <select name='categoryid' >
                         <option value=0>---请选择---</option>

                         {% for entity in category %}
                         <option value="{{ entity.id}}"
                        {% if entity.id==categoryid %}selected{% endif %} >
                         {{ entity.category}}
                     </option>
                         {% endfor %}
                    </select>
                    <label>状态</label>
                    <select name='status' >
                         <option value=0>---全部---</option>

                          <option value="1"  {% if status==1 %}selected{% endif %} >待审核</option>
                          <option value="2"  {% if status==2 %}selected{% endif %} >审核通过</option>
                          <option value="3" {% if status==3 %}selected{% endif %} >审核不通过</option>
                           <option value="4" {% if status==4 %}selected{% endif %} >已下架</option>
                     </select> 
                    <button class="btn btn-primary btn-sm" type="submit">搜索</button>
                    <div class="space"></div>
                </form>
            </div>

        </div>
        <!-- setting box goes here if needed -->

        <div class="row">
            <div class="col-xs-12">
<form action="{{ path('book_exam')}}" method="post" >
                <table id="sample-table-1" class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <td colspan="12">
<input type="submit" class="btn btn-success" name="status" value="2通过">
<input type="submit" class="btn btn-primary" name="status" value="3不通过">

<input type="submit" class="btn btn-warning" name="status" value="4下架">
 <input type="submit" class="btn btn-danger" name="status" value="5删除">

                             </td>
                        </tr>
        </thead>
        <thead>
            <tr>
                <th class="center">
                <label class="position-relative">
                    <input type="checkbox" class="ace">
                    <span class="lbl"></span>
                </label>
            </th>
                <th>序号</th>
                <th>推荐</th>
                <th>分类</th>
                <th>书名</th>
                <th>作者</th>
                <th>封面</th>
                <th>介绍</th>
                <th>排序</th> 
                 <th>Status</th>
                 <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            
        {% for entity in pagination %}
            <tr>
                <td class="center">
                    <label class="position-relative">
                        <input type="checkbox" class="ace" name="ids[]" value="{{entity.id}}">
                        <span class="lbl"></span>
                    </label> 
                </td>
               
                <td><a href="{{ path('book_edit', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                 <td>

                     {% if entity.rel==0 %}
                        <span class="glyphicon glyphicon-remove-circle"></span>
                        {% endif %}
                        {% if entity.rel==1 %}
                        <span class="glyphicon glyphicon-ok-circle"></aspan>
                        {% endif %}
                </td>
                <td>                        <a href="{{ path('book_show', { 'id': entity.id }) }}">
{{ entity.title }}</a></td>
 <td>{{ entity.category }}</td>
                <td>{{ entity.author }}</td>
                <td><img src="{{ entity.cover }}" width=100></td>
                <td>{{ entity.intro }}</td>
                <td>{{ entity.sortid }}
                    <div style="width:50px">
                        <a href="{{path('book_sort', {'id':entity.id,'op':1})}}" class="glyphicon glyphicon-arrow-up"></a>
                        <a href="{{path('book_sort', {'id':entity.id,'op':2})}}" class="glyphicon glyphicon-arrow-down"></a>

                    </div>
                    </td>
                 <td>{{ entity.statusName }}</td>
                 <td>
                    <div class="btn-group">
                                                <button class="btn btn-warning dropdown-toggle" data-toggle="dropdown">
                                                    操作
                                                    <span class="ace-icon fa fa-caret-down icon-on-right"></span>
                                                </button>

                                                <ul class="dropdown-menu dropdown-default">
                                                     <li>
                                                        <a href="{{ path('book_rel', { 'id': entity.id ,'op':1}) }}">推荐</a>
                                                    </li>

                                                    <li>
                                                        <a href="{{ path('book_rel', { 'id': entity.id ,'op':0}) }}">取消推荐</a>
                                                    </li>
                                                    <li class="divider"></li>

                                                    <li>
                                                        <a href="{{ path('book_examid', { 'id': entity.id ,'status':2}) }}">审核通过</a>
                                                    </li>

                                                    <li>
                                                        <a href="{{ path('book_examid', { 'id': entity.id ,'status':3}) }}">审核不通过</a>
                                                    </li>

                                                    <li class="divider"></li>

                                                    <li>
                                                        <a href="{{ path('book_examid', { 'id': entity.id ,'status':4}) }}">下架</a>
                                                    </li>
                                                    <li>
                                                        <a href="{{ path('book_examid', { 'id': entity.id ,'status':5}) }}">删除</a>
                                                    </li>
                                                </ul>
                                            </div>
                
                </td>
            </tr>
        {% endfor %}
         <tfoot>
                        <tr>
                            <td colspan="8">
                                {{ knp_pagination_render(pagination) }}            
                            </td>
                        </tr>
        </tfoot>
        </tbody>
    </table>
</form>

        </div>
        </div>
    </div>
</div>
</div>
        <ul>
        <li>
            <a href="{{ path('book_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    <script>
    $(document).on('click', 'th input:checkbox' , function(){
                    var that = this;
                    $(this).closest('table').find('tr > td:first-child input:checkbox')
                    .each(function(){
                        this.checked = that.checked;
                        $(this).closest('tr').toggleClass('selected');
                    });
                });
    </script>
    {% endblock %}
